@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20..48,100..700,0..1");

:root {
  /* reference tokens */
  --md-ref-palette-current: currentColor;
  --md-ref-palette-transparent: transparent;
  --md-ref-palette-blue: #1877f2;
  --md-ref-palette-blue-light: #c5ddfc;
  --md-ref-palette-red: #eb0028;
  --md-ref-palette-green: #1ed760;
  --md-ref-palette-yellow: #fffc05;
  --md-ref-palette-snow: #f3f3f3;
  --md-ref-palette-ice: #eeeeee;
  --md-ref-palette-silver: #c6c6c6;
  --md-ref-palette-gunmetal: #5e5e5e;
  --md-ref-palette-charcoal: #1f1f1f;
  --md-ref-palette-coal: #131313;
  --md-ref-typeface-brand: "Product Sans";
  --md-ref-typeface-plain: "Product Sans";
  --md-ref-typeface-size-small: 0.875rem;
  --md-ref-typeface-size-medium: 1rem;
  --md-ref-typeface-size-large: 1.375rem;
  --md-ref-typeface-weight-regular: 400;
  --md-ref-typeface-weight-bold: 700;
  --md-ref-typeface-line-height-small: 1rem;
  --md-ref-typeface-line-height-medium: 1.25rem;
  --md-ref-typeface-line-height-large: 1.5rem;
  --md-ref-shape-height-small: 2rem;
  --md-ref-shape-height-medium: 2.5rem;
  --md-ref-shape-height-large: 3rem;
  --md-ref-shape-weight-thin: 1px;
  --md-ref-shape-weight-regular: 2px;
  --md-ref-shape-weight-thick: 4px;
  --md-ref-shape-corner-none: 0px;
  --md-ref-shape-corner-full: 9999px;
  /* system tokens */
  --md-sys-color-primary: var(--md-ref-palette-blue);
  --md-sys-color-on-primary: var(--md-ref-palette-ice);
  --md-sys-color-secondary: var(--md-ref-palette-charcoal);
  --md-sys-color-on-secondary: var(--md-ref-palette-ice);
  --md-sys-color-primary-container: var(--md-ref-palette-blue);
  --md-sys-color-on-primary-container: var(--md-ref-palette-ice);
  --md-sys-color-secondary-container: var(--md-ref-palette-blue-light);
  --md-sys-color-on-secondary-container: var(--md-ref-palette-blue);
  --md-sys-color-tertiary-container: var(--md-ref-palette-charcoal);
  --md-sys-color-on-tertiary-container: var(--md-ref-palette-ice);
  --md-sys-color-surface: var(--md-ref-palette-ice);
  --md-sys-color-on-surface: var(--md-ref-palette-charcoal);
  --md-sys-color-surface-variant: var(--md-ref-palette-ice);
  --md-sys-color-on-surface-variant: var(--md-ref-palette-gunmetal);
  --md-sys-color-surface-container: var(--md-ref-palette-ice);
  --md-sys-color-surface-container-high: var(--md-ref-palette-ice);
  --md-sys-color-surface-container-highest: var(--md-ref-palette-ice);
  --md-sys-color-outline: var(--md-ref-palette-gunmetal);
  --md-sys-color-outline-variant: var(--md-ref-palette-ice);
  --md-sys-typescale-title-small-size: var(--md-ref-typeface-size-medium);
  --md-sys-typescale-title-small-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-typescale-body-large-size: var(--md-ref-typeface-size-medium);
  --md-sys-typescale-body-large-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-typescale-label-large-size: var(--md-ref-typeface-size-small);
  --md-sys-typescale-label-large-weight: var(--md-ref-typeface-weight-bold);
  --md-sys-container-height: var(--md-ref-shape-height-large);
  --md-sys-container-weight: var(--md-ref-shape-weight-regular);
  --md-sys-container-shape: var(--md-ref-shape-corner-full);
  /* component tokens */
  --md-elevated-button-container-height: var(--md-sys-container-height);
  --md-filled-button-container-height: var(--md-sys-container-height);
  --md-filled-tonal-button-container-height: var(--md-sys-container-height);
  --md-outlined-button-container-height: var(--md-sys-container-height);
  --md-text-button-container-height: var(--md-sys-container-height);
  --md-elevated-button-container-color: var(--md-sys-color-surface);
  --md-outlined-button-outline-color: var(--md-sys-color-primary);
  --md-assist-chip-label-text-weight: var(--md-ref-typeface-weight-regular);
  --md-input-chip-label-text-weight: var(--md-ref-typeface-weight-regular);
  --md-filter-chip-label-text-weight: var(--md-ref-typeface-weight-regular);
  --md-suggestion-chip-label-text-weight: var(--md-ref-typeface-weight-regular);
  --md-assist-chip-outline-color: var(--md-sys-color-primary);
  --md-assist-chip-label-text-color: var(--md-sys-color-primary);
  --md-assist-chip-focus-label-text-color: var(--md-sys-color-primary);
  --md-assist-chip-hover-label-text-color: var(--md-sys-color-primary);
  --md-assist-chip-pressed-label-text-color: var(--md-sys-color-primary);
  --md-divider-thickness: var(--md-sys-container-weight);
  --md-filled-select-text-field-input-text-weight: var(--md-ref-typeface-weight-regular);
  --md-switch-selected-icon-color: var(--md-sys-color-primary);
  --md-switch-selected-focus-handle-color: var(--md-sys-color-on-primary);
  --md-switch-selected-focus-icon-color: var(--md-sys-color-primary);
  --md-switch-selected-hover-handle-color: var(--md-sys-color-on-primary);
  --md-switch-selected-hover-icon-color: var(--md-sys-color-primary);
  --md-switch-selected-pressed-handle-color: var(--md-sys-color-on-primary);
  --md-switch-selected-pressed-icon-color: var(--md-sys-color-primary);
  --md-primary-tab-container-color: var(--md-ref-palette-transparent);
  --md-primary-tab-container-shape: var(--md-sys-container-shape);
  --md-primary-tab-active-indicator-color: var(--md-ref-palette-transparent);
  --md-primary-tab-active-label-text-color: var(--md-sys-color-on-primary);
  --md-primary-tab-active-focus-label-text-color: var(--md-sys-color-on-primary);
  --md-primary-tab-active-hover-label-text-color: var(--md-sys-color-on-primary);
  --md-primary-tab-active-pressed-label-text-color: var(--md-sys-color-on-primary);
  --md-filled-text-field-input-text-weight: var(--md-ref-typeface-weight-regular);
}

.dark {
  /* system tokens */
  --md-sys-color-secondary: var(--md-ref-palette-ice);
  --md-sys-color-on-secondary: var(--md-ref-palette-charcoal);
  --md-sys-color-tertiary-container: var(--md-ref-palette-ice);
  --md-sys-color-on-tertiary-container: var(--md-ref-palette-charcoal);
  --md-sys-color-surface: var(--md-ref-palette-charcoal);
  --md-sys-color-on-surface: var(--md-ref-palette-ice);
  --md-sys-color-surface-variant: var(--md-ref-palette-charcoal);
  --md-sys-color-on-surface-variant: var(--md-ref-palette-silver);
  --md-sys-color-surface-container: var(--md-ref-palette-charcoal);
  --md-sys-color-surface-container-high: var(--md-ref-palette-charcoal);
  --md-sys-color-surface-container-highest: var(--md-ref-palette-charcoal);
  --md-sys-color-outline: var(--md-ref-palette-silver);
  --md-sys-color-outline-variant: var(--md-ref-palette-charcoal);
}
